@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinking {
  animation: blink 0.5s ease-in-out 0s infinite alternate forwards;
}

@keyframes spin-left-right {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
.spin-left-right {
  animation: spin-left-right 2s ease 0s 1 forwards;
}

@keyframes ascend-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ascend-in {
  animation: ascend-in 2s ease 0s 1 forwards;
}
