.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip-message {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #FDF7FA;
  padding: 8px 12px;
  font-size: 0.8rem;
  line-height: 1.5;
  width: 150%;
  max-width: 320px;
}
.tooltip:hover .tooltip-message {
  display: inline-block;
}