$color-dark: black;
$color-light: #FDF7FA;
$color-primary: darkblue;
$color-background: #f0f0f0;
$color-secondary: #F7717D;
$color-text: #006;
$color-highlight: rgba(255, 255, 0, 0.5);

$size-rem: 16px;

$breakpoint-tablet: 768px;
