* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 220px;
    height: 233px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(54, 54, 54);
    text-align: center;
    
}

div#main-container { 
    display: none;   
    /*animation: showChat 350ms ease-in;*/
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(208, 223, 255);
    border-radius: 10px;
    width: 220px;
    height: 230px;
    border: 1px solid grey;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);    
}

h1 {
    font-size: 100%;
    padding-top: 6px;
    padding-bottom: 5px;
}

h2 {
    font-size: 150%;
    padding-bottom: 5px;
}

textarea {
    resize: none;
    padding: 5px;
}

button#start-chat {
    padding: 2px 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #2eabff;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
}
button#start-chat:hover {
    background-color: #a3daff;
    cursor: pointer;    
}

img {
    position: fixed; bottom: 0px; right: 0px; display: none;    
}

img:hover {
    cursor: pointer;    
}

img#icon-open-chat {
    display: block;
}

@keyframes showChat {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hideChat {
    from {opacity: 1;}
    to {opacity: 0;}
}