@keyframes move {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    40% {
        transform: translateX(calc(50vw - 100%));
        opacity: 1;
    }
    60% {
        transform: translateX(calc(50vw - 100%));
        opacity: 1;
    }
    100% {
        transform: translateX(calc(100vw - 100%));
        opacity: 0;
    }
}