* { 
    margin-top: 0px;   
    box-sizing: border-box;
}

/* general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    color: rgb(53, 53, 53);
    margin: 0;
    padding: 0px 5vw;
    background-color: rgb(248, 252, 253);  
}

h1 {
    margin-top: 80px;
    padding: 0;
    font-size: 200%;
    line-height: 2;
}

h1::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #222222;
    margin-bottom: 80px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0;
    font-size: 160%;
    line-height: 2.5;
}

p {
    margin-bottom: 80px;
    text-align: justify;
}

/*navigation and logo*/
.logo {
    max-width: 85vw;
    position: absolute;
    top: 0px;    
    display: block;
       
}

.main-nav {
    position: sticky;
    top: 0px;
    margin-top: 77px;
    margin-left: -5vw;
    margin-right: -5vw;    
}

nav ul {     
    top: 0px;    
    list-style-type: none;    
    padding: 0;
    overflow: hidden;    
    background-color: rgb(68, 5, 82);
}

nav ul li {
    float: left;        
}

nav ul li:first-child {
    padding-left: 5vw;    
}

nav ul li:last-child a {
    border-right: 1px solid #bbb;    
}

nav ul li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #bbb;
}

nav li a.active {
    background-color: rgb(78, 59, 150);
    color: white;
}

nav ul li a:hover:not(.active) {
    background-color: rgb(20, 20, 20);
}


/*images and figures, blockqoutes, lists*/
img {    
    max-width: 350px;
    height: auto;
    margin-top: 0px;   
    margin-bottom: 80px;         
}

figure {
    margin-bottom: 40px;    
}

figure img {
    margin-bottom: 0px;    
}

figure.employee-list {
    display: inline-block;
}

blockquote {
    margin-top: 10px;   
    margin-bottom: 80px;  
    padding: 8px 15px;
    border-radius: 10px ;
    text-align: justify;
    background-color: rgb(235, 235, 235);
    color: black;
    font-weight: 500;
    font-size: 110%;
}

ol, ul {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: justify;
}

form {
     background-color: rgb(247, 247, 247);
     
 }

/*section*/
section {
    max-width: 1000px;
    margin: 0px auto;
}

section::after {
    content: " ";
    display: block;
    /*border-bottom: 2px solid #2b2828;*/
    margin: 80px auto; 
}

section.divider::after {
    content: " ";
    display: block;
    width: 40px;
    border-bottom: 1px solid #2b2828;
    margin: 80px auto;    
}

section:last-of-type::after {
    border-bottom: 0px;
}

/*layout*/
.flex-container {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 15px;
}

.flexx {
    max-width: 600px;
    margin: 0 auto;    
}

.center {
    text-align: center;
    margin: 0 auto;
}

.right {
    text-align: right;
    margin: 0 auto;
}

.parallax { 
    /*ne radi na mobu*/
    background-attachment: fixed; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 -5vw;
    height: 450px;
    max-width: 3000px;;
}

.footer {
    position: relative;
    bottom: 30px;
}

/*iframe, animacije*/

iframe#chat {
    display: none;
    overflow: hidden; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    z-index: 5;
}

@keyframes showChat {
    from {opacity: 0;}
    to {opacity: 1;}
}