* { 
    margin-top: 0px;   
    box-sizing: border-box;
}


/*----------------------------------general-------------------------------- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    color: rgb(53, 53, 53);
    margin: 0;
    padding: 0px 5vw;
    background-color: rgb(248, 252, 253);
}

h1 {
    margin-top: 80px;
    padding: 0;
    font-size: 200%;
    line-height: 2;
}

h1::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #222222;
    margin-bottom: 80px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0;
    font-size: 160%;
    line-height: 2.5;
}

h2#company {
    padding: 120px 0px;
    font-size: 180%;
}

p {
    margin-bottom: 80px;
    text-align: justify;
}


/*-------------------------------section--------------------------------*/
section {
    max-width: 700px;
    margin: 120px auto;    
}

section:first-of-type {
    margin-top: 0px;
}

section::after {
    content: " ";
    display: block;
    /*border-bottom: 2px solid #2b2828;*/
    /*margin: 150px auto; */
}

section.divider::after {
    content: " ";
    display: block;
    width: 40px;
    border-bottom: 1px solid #2b2828;
    margin: 50px auto 100px auto;    
}



section:last-of-type::after {    
    border-bottom: 0px;
}

section#employee {    
    /*background-color: rgb(208, 215, 255);*/
    background: rgb(222,227,255);
    background: linear-gradient(180deg, rgba(222,227,255,1) 0%, rgba(235,236,255,1) 100%);
    min-height: 100vh;
    max-width: 100vw;
    margin-left: -5vw;
    margin-right: -5vw;
    margin-bottom: 100px;
}


/*---------------------------------------layout------------------------------------*/
.flex-container {
    display: flex;
    flex-wrap: wrap;   
    max-width: 1500px;
    margin: 0px auto 15px auto;
}

.flex {        
    max-width: 600px;
    margin: 0 auto;    
}

.flex-employee {   
    max-width: 500px;
    margin: 0 auto;
    transition: 0.8s;        
}

.flex-employee:hover {    
    transform: scale(1.10);       
}

.center {
    text-align: center;
    margin: 0 auto;
}

.right {
    text-align: right;
    margin: 0 auto;
}

.parallax { 
    /*ne radi na Androidu, a pogotovo ne radi na iOSu :)*/
    background-attachment: fixed; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 -5vw;
    height: 550px;
    max-width: 3000px;;
}

.footer {
    position: relative;
    bottom: 30px;
}


/*------------------------------navigation and logo-----------------------------*/
.logo {
    max-width: 85vw;
    position: relative;
    top: 0px;    
    display: block;
    margin-top: 10px;          
}

.main-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    margin-top: 0px;
    margin-left: -5vw;
    margin-right: -5vw;
    z-index: 8; 
}

nav ul {     
    top: 0px;    
    list-style-type: none;    
    padding: 0;
    overflow: hidden;    
    /*background-color: rgb(68, 5, 82);*/
    /*background: rgb(61,3,74);
    background: linear-gradient(135deg, rgba(61,3,74,0.9) 0%, rgba(135,74,150,0.9) 100%);*/    
    background: rgb(51,0,62);
    background: linear-gradient(135deg, rgba(51,0,62,0.9) 0%, rgba(135,74,150,0.9) 78%, rgba(163,124,172,1) 100%);
    margin-top: 10px;
    margin-bottom: 120px;   
}

nav ul li {
    float: left;        
}

nav ul li:first-child {
    padding-left: 5vw;    
}

nav ul li:last-child a {
    border-right: 1px solid #bbb;    
}

nav ul li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #bbb;
}

nav li a.active {
    background-color: rgb(78, 59, 150);
    color: white;
}

nav ul li a:hover:not(.active) {
    background-color: rgb(24, 24, 24);
}



/*---------------------images and figures, blockqoutes, lists, forms----------------------*/
img {    
    max-width: 100%;
    height: auto;
    margin-top: 40px;   
    margin-bottom: 80px;         
}

img.logo {
    margin-top: 0;
    margin-bottom: 0;
}

section > img {
    max-height: 300px;
    width: auto;
}

figure {    
    margin-bottom: 40px;    
}

figcaption {
    text-align: center;
    padding-top: 15px;
}

figure img {    
    margin-bottom: 0px;    
}

figure.employee-list > figcaption {
    font-size: 120%;   
}

div.flex-employee > figure > img {
    border-radius: 50%;
    width: 280px;    
}

blockquote {
    margin-top: 45px;   
    margin-bottom: 80px;  
    padding: 8px 15px;
    border-radius: 10px ;
    text-align: justify;
    background-color: rgb(235, 235, 235);
    color: black;
    font-weight: 500;
    font-size: 110%;
}

ol, ul {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: justify;
}

form {
    background-color: rgb(247, 247, 247);
    margin: 80px 0px 0px 0px;
    max-width: 100%;    
}


/*-----------------------------------iframe, animation--------------------------*/
iframe#chat {
    display: none;
    overflow: hidden; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    z-index: 9;
}

@keyframes showChatInitial {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes showChatInitial {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeZoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}

@-webkit-keyframes fadeZoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);      
    }
    to {
        transform: scale(1.2);    
    }
}

@-webkit-keyframes zoomIn {
    from {
        transform: scale(1);      
    }
    to {
        transform: scale(1.2);    
    }
}